:root {
  font-size: 18px;
  --fontSize: 18px;
  --link-translate-x: 3rem;
  --padding-container: 1rem;
  --height-swiper: 39vh;
  --textHeight: 2.85rem;
}

@media screen and (max-width: 1024px) {
    :root {
      font-size: 16px;
      --link-translate-x: 2rem;
      --fontSize: 16px;
      --padding-container: 1.6rem;
      --height-swiper: 22vh;
    }
  }
@media screen and (max-width: 768px) {
    :root {
      font-size: 15px;
      --fontSize: 15px;
      --link-translate-x: 2rem;
      --padding-container: 1.6rem;
      --height-swiper: 50vw;
    }
  }

.smooth-scroll{
  transition: background-color 0.3s ease-in-out;
}

p {
  word-break: break-word;
  white-space: break-spaces;
}
h2 {
  white-space: break-spaces;
}
html, body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
} 

#contact{
  width: 100%;
  height: 80vh;
}

.point{
  background-color: red;
  width: 100px;
  height: 100px;
}


ul {
  display: block;
  list-style-type: disc;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ol {
  margin-left: 10rem;
  display: block;
  list-style-type: decimal;

  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1rem;
}

li {
  display: list-item;
  line-height: 1.4;
  text-align: -webkit-match-parent;
}


:root {
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(60, 90%, 50%);
  --color-text: hsl(192, 14%, 20%);
  --color-text-highlight: hsl(192, 14%, 0%);
  --page-width: 80ch;
  --paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
  --header-font-size: min(max(2rem, 8vw), 4rem);
  --space: 2rem;
  --padding: 8vmin;
  --duration: 1s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease),
    background-color calc(var(--duration) / 4) var(--ease),
    background-size var(--duration) var(--ease);

  &.active {
    color: var(--color-text-highlight);
    background-size: 100% 100%;
  }

  [data-highlight="background"] & {
    background-image: linear-gradient(
      var(--bg-color-highlight),
      var(--bg-color-highlight)
    );
  }

  [data-highlight="half"] & {
    --line-size: 0.5em;
    background-image: linear-gradient(
      transparent calc(100% - var(--line-size)),
      var(--bg-color-highlight) var(--line-size)
    );
  }

  [data-highlight="underline"] & {
    --line-size: 0.15em;
    background-image: linear-gradient(
      transparent calc(100% - var(--line-size)),
      var(--color-text) var(--line-size)
    );
  }

  &::before,
  &::after {
    position: absolute;
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
  }

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }
}

.loading {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.order {

}

.bullet {

}