.cursor {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  transition:
    opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.pointer {
  width: 48px;
  height: 48px;
  background-color: #6a2876;
  border-color: #6a2876;
}

.point {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #ff1493a3;
  mix-blend-mode: normal;
}

.project {
  background-color: #ffffffc8;
  color: #1509d5;
  width: 150px;
  height: 150px;
  mix-blend-mode: normal;
  font-family: 'MangoBold';
}

.project::after {
  content: 'About';
  font-size: 21px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  padding-top: 43%;
  font-family: 'MangoBold';
}

.loading {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
