.gallery .gallery-item-wrapper {
    display: grid;
    position: relative;
    height: 100%;
    width: 100vw
}

.gallery .gallery-item-wrapper.is-reveal .gallery-item-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none
}

.gallery .gallery-item-image {
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    border-radius: 50px;
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    transition: all 1.5s cubic-bezier(.77,0,.175,1);
    -webkit-filter: grayscale(100%) sepia(20%) brightness(80%);
    filter: grayscale(100%) sepia(20%) brightness(80%);

}

.gallery-item-image:hover::after {
    opacity: 1;
}
.gallery-item-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100% ;
    background-color: #0000008e;
    border-radius: 50px;
    opacity: 0.7;
    transition: all 0.2s cubic-bezier(.77,0,.175,1);
}
