
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap);a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.gallery-wrap {
    background-color: #d53f41;
    margin-left: -5vw;
    margin-right: -5vw;
}
.gallery {
    margin-right: -100vw;
    height: 100vh;
    padding: 20vh 0 10vh;
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
}

.gallery-counter {
    position: absolute;
    top: 15%;
    left: 100px;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 16px;
    color: #dbd8d6;
    font-family: Bai Jamjuree;
    font-weight: 600;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: inline-block
}

.gallery-counter .divider {
    content: "";
    background-color: #fff;
    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block
}

.gallery .gallery-item-info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    color: #dbd8d6;
    color: #fff
}

.gallery .gallery-item-info .gallery-info-title {
    line-height: 6vw;
    font-family: Bai Jamjuree;
    font-weight: 600;
    font-size: 6vw;
    -webkit-font-smoothing: antialiased
}

.gallery .gallery-item-info .gallery-info-subtitle {
    position: relative;
    line-height: 6vw;
    color: transparent;
    font-family: Bodoni Moda;
    font-weight: 400;
    font-size: 6vw;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 2px #dbd8d6
}

.gallery .gallery-item-info .gallery-info-category {
    position: relative;
    line-height: 24px;
    font-family: Bai Jamjuree;
    font-weight: 400;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    margin-top: 2vh
}

.gallery .gallery-item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw
}

.gallery .gallery-item-wrapper.is-reveal .gallery-item-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none
}

.gallery .gallery-item-image {
    background-size: cover;
    background-position: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    transition: all 1.5s cubic-bezier(.77,0,.175,1);
    -webkit-filter: grayscale(100%) sepia(20%) brightness(80%);
    filter: grayscale(100%) sepia(20%) brightness(80%)
}
            
