@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

:root {
  font-size: 16px;
  --fontSize: 16px;
  --link-translate-x: 3rem;
  --padding-container: 1rem;
  --height-swiper: 39vh;
}

@media screen and (max-width: 1024px) {
    :root {
      font-size: 18px;
      --link-translate-x: 2rem;
      --fontSize: 18px;
      --padding-container: 1.6rem;
      --height-swiper: 22vh;
    }
  }
@media screen and (max-width: 768px) {
    :root {
      font-size: 20px;
      --fontSize: 20px;
      --link-translate-x: 2rem;
      --padding-container: 1.6rem;
      --height-swiper: 50vw;
    }
  }

.text .char {
  display: inline-block;
  transform-origin: 50% 50% 0.4em;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  transition-delay: calc(0ms + var(--char-index) * 25ms);
  backface-visibility: hidden;
  margin: 0 -0.02em;
}

.text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
  }

.home:hover .text:nth-child(1) {
    transform: translateY(100%); /* 아래로 사라짐 */
  }
  
.home:hover .text:nth-child(2) {
    transform: translateY(0); /* 위에서 내려옴 */
    opacity: 1;
}
  
.home:hover .text {
  transform: translateX(var(3rem));
}

.home:hover .text:nth-child(1) {
  opacity: 0;
}

.home:hover .text:nth-child(1) .char {
  transform: rotate3d(1, 0.3, 0, -90deg);
}

.home:hover .text:nth-child(2) {
  opacity: 1;
}

.home:hover .text:nth-child(2) .char {
  transform: rotate3d(0, 0, 0, 90deg);
}